body {
    background-color: #d9d4cd !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 47rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

.text-center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.start-container {
    background-image: url(QuizappImg/brainbg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    font-size: 30px;
    padding: 0 200px 0px 200px;
}

.left-bar-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    height: 100%;
    background: rgb(0, 0, 86) !important;
    color: white;
    font-size: 26px;
    padding-top: 24px;
}

.left-bar-card span {
    margin-top: 24px;
    margin-bottom: 24px;
}

.left-bar-card img {
    margin-bottom: 32px;
}

.progress-position-absolut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}