@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Glitch&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Square+Peg&family=Syncopate:wght@400;700&family=Wallpoet&display=swap');
body {
    background-color: #d9d4cd !important;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 47rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

.text-center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.start-container {
    background-image: url(QuizappImg/brainbg.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    font-size: 30px;
    width: 700px;
}

.left-bar-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    background: rgb(0, 0, 86) !important;
    color: rgba(255, 255, 255, 0.507);
    font-size: 26px;
    padding-top: 24px;
}

.leftbar-span {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.left-bar-card img {
    margin-bottom: 32px;
}

.progress-position-absolut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title-span-start {
    height: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 20%;
    margin-right: 32px;
}

.btn-container img {
    height: 24px;
    width: 21px;
    margin-left: 24px;
}

.btn-start {
    width: 200px;
    background-color: rgb(255, 187, 41) !important;
}

.card-body-new-design {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 100px !important;
}

.margin-b-32 {
    margin-bottom: 32px !important;
}

.card-body-answer {
    display: flex;
    padding: 8px !important;
    align-items: center;
}

.answer-icon {
    height: 50px;
    width: 50px;
    background-color: rgb(128 128 128 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    font-size: 24px;
}

.endscreen-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endscreen-card img {
    height: 100px;
    margin: 32px 0 16px 0;
}

.btn-share {
    width: 200px;
}

.btn-replay {
    width: 200px;
    color: blue !important;
}

.pt-sans {
    font-family: 'PT Sans', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}